data/
Multimodal_pretraining/data
Batch_correction/data
venv-metal
__pycache__/
Multimodal_pretraining/adata_Protein.h5ad
Multimodal_pretraining/adata_RNA.h5ad
Multimodal_pretraining/tfrecord/
logs/
logs_cpu/
python_venv/
Multimodal_pretraining/weight

Multimodal_pretraining/adata_atac.h5ad
Multimodal_pretraining/adata_gex.h5ad

Multimodal_pretraining/.DS_Store
.DS_Store
metrics_python_venv/

logs_tensorboard/gradient_tape/*.zip

Multimodal_pretraining/adata_Protein_test.h5ad
Multimodal_pretraining/adata_Protein_train.h5ad
Multimodal_pretraining/adata_RNA_test.h5ad
Multimodal_pretraining/adata_RNA_train.h5ad
Multimodal_pretraining/adata_atac_test.h5ad
Multimodal_pretraining/adata_atac_train.h5ad
Multimodal_pretraining/adata_gex_test.h5ad
Multimodal_pretraining/adata_gex_train.h5ad

Multimodal_pretraining/tfrecord_test/
Multimodal_pretraining/tfrecord_train/

Multimodal_pretraining/spatial_adata_RNA.h5a

Multimodal_pretraining/adata_cite_adt_test.h5ad
Multimodal_pretraining/adata_cite_adt_train.h5ad
Multimodal_pretraining/adata_cite_adt_unprep_test.h5ad
Multimodal_pretraining/adata_cite_adt_unprep_train.h5ad
Multimodal_pretraining/adata_cite_gex_test.h5ad
Multimodal_pretraining/adata_cite_gex_train.h5ad
Multimodal_pretraining/adata_cite_gex_unprep_test.h5ad
Multimodal_pretraining/adata_cite_gex_unprep_train.h5ad
Multimodal_pretraining/spatial_adata_RNA.h5ad
